.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #002776; /* Cor dos links */
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-links li a.active,
  .navbar-links li a:hover {
    color: #006400; /* Cor do link ativo/hover */
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-button,
  .register-button {
    background: none;
    border: 2px solid #002776; /* Cor da borda */
    color: #002776; /* Cor do texto */
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .register-button {
    background-color: #fff; /* Fundo branco para o botão "Cadastro" */
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #002776; /* Fundo azul escuro no hover */
    color: #fff; /* Texto branco no hover */
  }
  